{
  "extends": "airbnb",
  "plugins": [
    "jsdoc"
  ],
  "rules": {
    "import/prefer-default-export": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "require-jsdoc": 0,
    "valid-jsdoc": 1,
  }
}
