{
  "parser": "babel-eslint",
  "extends": [
    "google",
    "eslint:recommended",
    "plugin:flowtype/recommended",
    "plugin:react/recommended",
    "prettier",
    "prettier/flowtype",
    "prettier/react"
  ],
  "plugins": [
    "flowtype",
    "prettier",
    "react",
    "filenames",
    "jsdoc"
  ],
  "parserOptions": {
    "ecmaVersion": 2016,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "arrowFunctions": true,
      "blockBindings": true,
      "classes": true,
      "defaultParams": true,
      "modules": true,
      "spread": true,
      "globalReturn": true
    }
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "globals": {
    "before": true,
    "after": true,
    "spyOn": true,
    "__PATH_PREFIX__": true,
    "__BASE_PATH__": true,
    "__ASSET_PREFIX__": true
  },
  "rules": {
    "arrow-body-style": [
      "error",
      "as-needed",
      { "requireReturnForObjectLiteral": true }
    ],
    "no-unused-expressions": [
      "error",
      {
        "allowTaggedTemplates": true
      }
    ],
    "camelcase": 1,
    "consistent-return": ["error"],
    "filenames/match-regex": ["error", "^[a-z-\\d\\.]+$", true],
    "no-console": [2, { "allow": ["warn", "error"] }],
    "no-inner-declarations": "off",
    "no-unused-vars": 1,
    "quotes": ["error", "single"],
    "react/display-name": "off",
    "react/jsx-key": "warn",
    "react/no-unescaped-entities": "off",
    "react/prop-types": "off",
    "semi": 2,
    "valid-jsdoc": ["error", {
      "requireReturn": true,
      "requireReturnType": true,
      "requireParamDescription": true,
      "requireReturnDescription": true,
      "preferType": {
        "String": "string",
        "object": "Object",
      }
    }],
    "require-jsdoc": ["error", {
      "require": {
          "FunctionDeclaration": true,
          "MethodDefinition": true,
          "ClassDeclaration": true
      }
    }]
  },
  "overrides": [
    {
      "files": [
        "packages/**/gatsby-browser.js",
        "packages/gatsby/cache-dir/**/*"
      ],
      "env": {
        "browser": true
      },
      "globals": {
        "___loader": false,
        "___emitter": false
      }
    },
    {
      "files": ["**/cypress/integration/**/*", "**/cypress/support/**/*"],
      "globals": {
        "cy": false,
        "Cypress": false
      }
    }
  ],
  "settings": {
    "react": {
      "version": "16.4.2"
    }
  }
}